<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLIGHTSTATS_APP_ID</key>
	<string>ebdd2031</string>
	<key>FLIGHTSTATS_API_KEY</key>
	<string>0de2997b162fd30a82a74f27f5c6247a</string>
</dict>
</plist>
